@media all
{
	.current_site
	{
		background: rgba(255, 255, 255, .08) !important;
	}

		/*.current_site > a
		{
			color: #00b9eb !important;
		}*/

	ul#admin_menu_roles .child
	{
		margin-left: 1.5em;
	}
}